*{
    margin:0;
    padding:0;
}

#banner{
    height:350px;
    background-color:rgb(84, 84, 206);
    display:flex;
    justify-content:center;
    align-items: center;
}
#banner h2{
    font-size: 52px;
    color:white;

}
.round-pic{
    width:230px;
    margin-left: 20px;
    border-radius: 50%;
}


